@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 54%, 90%);
    margin: 0%;
    padding: 0%;
    font-size: 16px;
}

section{
    padding-top: 20vh;
    height: 96vh;
    margin: 0 20rem;
    box-sizing: border-box;
    min-height: fit-content;
    margin-bottom: 4rem;
}

.outer-box{
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 10px;
    min-width: fit-content;
    margin: 0 10rem;
    border-radius: 2rem;
}

.inner-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 3rem;

}

#image img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
#image{
    padding-bottom: 2rem;
}

.text h1{
    padding-bottom: 2rem;
    font-family: "Young Serif", serif;
    font-size: 3rem;
}


.text p{
    padding-bottom: 2rem;
    font-family: "Outfit", sans-serif;
    color: hsl(24, 5%, 18%, 0.8);
}

.text h2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: hsl(24, 5%, 18%, 0.8);
}

 .text ul{
    padding-bottom: 2rem;
    font-family: "Outfit", sans-serif;
    color: hsl(24, 5%, 18%, 0.8);
    margin-left: 2rem;
}

.text ol{
    padding-bottom: 2rem;
    font-family: "Outfit", sans-serif;
    color: hsl(24, 5%, 18%, 0.8);
    margin-left: 2rem;
}

.text__prep h2, li{
    padding-bottom: 1rem;
}
.text__prep{
    background-color: hsl(330, 100%, 98%);
    padding: 3rem;
    border-radius: 2rem;
    font-family: "Outfit", sans-serif;
}

.text__prep h2{
    color:   hsl(332, 51%, 32%, 0.8);
}

.text__prep li {
    margin-left: 2rem;
     color: hsl(24, 5%, 18%, 0.8);
}
.text__prep ul li::marker {
    margin-left: 2rem;
}

.text__prep span, .text span{
    font-weight: bold;
}

hr {
    display: block;
    height: 0.3rem;
    border: 0;
    border-top: 1px solid #ccc;
}
.item {
    width: 100%;
    border-bottom: 0.2px solid hsl(24, 5%, 18%, 0.4);
  }
  
  .nutrition_list{
    display: flex;
    flex-wrap: wrap;
      color: hsl(24, 5%, 18%, 0.8);
      font-family: "Outfit", sans-serif;
  }
  
  .nutrition_list > div {
    flex: 50%;
    margin-bottom: 10px;

    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
  }
