*{
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 54%, 90%);
    margin: 0%;
    padding: 0%;
}

section{
    padding-top: 10vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.outer-box{
    display: flex;
    justify-content: left;
    background-color: white;
    padding: 10px;
    min-width: fit-content;
    margin: 0 10rem;
    border-radius: 2rem;
}

.inner-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 3rem;

}



#image img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}